<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>История</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: url(&quot;/img/bg.jpg&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page catalog-page">
    <div class="container" style="background: #ffffff;margin-top: 150px;padding: 15px;">
        <div class="d-xl-flex justify-content-xl-center block-heading">
            <h2 class="text-info">История кредитов</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-auto"><p class="lead">ФИО: <span th:text="${client.description.fio}"></span></p></div>
                <div class="col-auto"><p class="lead">Номер телефона: <span th:text="${client.description.tel}"></span></p></div>
                <div class="col-auto"><p class="lead">Гражданство: <span th:text="${client.description.citizenship}"></span></p></div>
                <div class="col-auto"><p class="lead">Паспортные данные: <span th:text="${client.description.passport}"></span></p></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="products" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div th:each="a : ${client.appsList}" class="col-4" style="padding: 0px;">
                                <div class="clean-product-item">
                                    <div class="image"><a th:href="'/credits/' + ${a.credit.id}">
                                        <img class="img-fluid d-block mx-auto" th:src="'/img/' + ${a.credit.file}"></a>
                                    </div>
                                    <p style="margin-bottom: 10px;" align="center" th:text="${a.credit.name}"></p>
                                    <p style="margin-bottom: 10px;">Статус: <span th:text="${a.status.name}"></span></p>
                                    <p style="margin-bottom: 10px;">Клиент: <span th:text="${a.owner.username}"></span></p>
                                    <p style="margin-bottom: 10px;">Сумма: <span th:text="${a.sum}"></span></p>
                                    <p style="margin-bottom: 10px;">Срок: <span th:text="${a.term} + ' месяц(ев)'"></span></p>
                                    <p style="margin-bottom: 10px;">Вернуть: <span th:text="${a.getShould}"></span></p>
                                    <p th:if="${a.status.name() == 'REJECTED'}" style="margin-bottom: 10px;">Причина отказа: <span th:text="${a.reason}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>