<nav th:fragment="nav" class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background: #fdd58c">
    <div class="container">
        <a class="navbar-brand logo" href="/">Мой банк</a>
        <ul class="navbar-nav">
            <li th:if="${role == 'MANAGER'}" class="nav-item"><a class="nav-link" href="/apps">Заявки</a></li>
            <li th:if="${role == 'MANAGER' or role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/clients">Клиенты</a></li>
            <li th:if="${role == 'MANAGER'}" class="nav-item"><a class="nav-link" href="/credits/add">Добавить</a></li>
            <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/credits/my">Мои кредиты</a></li>
            <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/user">Мой профиль</a></li>
            <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Пользователи</a></li>
            <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Вход</a></li>
            <li th:if="${role == 'NOT'}"  class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>
            <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
        </ul>
    </div>
</nav>